.idea/
*.pyc
propertysuggester/evaluator/Wikidata-20131129161111.csv
propertysuggester/evaluator/10_output_letter.csv
propertysuggester/evaluator/Resultoutput_letter.csv
propertysuggester/evaluator/_output.csv
propertysuggester/evaluator/Resultoutput.csv
